{% extends "main.html" %}

{% block content %}
  <h2>About Me</h2>
  <p>This page is all about me: Joel Shooster!</p>
  <p>I was born in Philadelphia, grew up in South Florida, spent 6 years in Arizona, spent a year in
  Washington DC, and then had the sense to move to San Francisco (run-on much?). I am currently learning
  to code with the amazing people at Thinkful. This exercise is proof that I am slowly beginning to master
  Flask and integration with HTML/CSS into the back-end.</p>
  <p>
  
{% endblock %}
