<!DOCTYPE html>
<html>
  <head>
    <title>Joel Shooster</title> 
	<strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
  </head>
  <body>
   
    <header>
      <div class="container">
        <h1 class="logo">Joel Shooster</h1>
	  </div>
	</header> 
	<strong><nav>
		<ul class>
			<li><a href="{{ url_for('home') }}">Home</a></li>
			<li><a href="{{ url_for('about') }}">About</a></li>
			<li><a href="{{ url_for('contact') }}">Contact</a></li>
			<li><a href="{{ url_for('faves') }}">Favorite Things</a></li>
		</ul>
	</nav></strong>  
	
	<div class="container">
      {% block content %}
      {% endblock %}
    </div>

     
  </body>
</html>